body{
    background-image: url(restaurant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1{
    color: white;
    text-align: center;
}
ul{
    display: inline-flex;
    text-align: center;
    color: white;
    justify-items: flex-start;
    font-size: 1.2rem;
   
    

}
h2{
    color: white;
    text-align: center;
    
}
div {
    text-align: justify ;
    justify-content: center;
   
    font-size: 1.3rem;
  
    display: flex;
}

p{
    color: white;
    background-color: brown;
    flex-wrap: wrap;
    margin: 2% 2% 2% ;

  
}
li{
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 30%;
    background-color: brown;
    
}